{% extends 'base.html.twig' %}

{% block body %}
    <h1>Change Password</h1>

    {{ form_errors(changePasswordForm) }}

    {{ form_start(changePasswordForm) }}
        {{ form_widget(changePasswordForm) }}

        <button type="submit" class="btn">Change</button>
    {{ form_end(changePasswordForm) }}
{% endblock %}