<div>
    <a href="{{ path('app_manufacturer', { 'id': manufacturer.getId() }) }}">
        <img src="{{ manufacturer.getImage().getFullPath() }}">
        <span>{{ manufacturer.getName() }}</span>
    </a>
</div>